.teste {
    text-decoration: none;
    color: black;

}

.teste:hover{
    background-color: #B0D8F5;
    border-radius: 5px;
    color: #fff;
}

.muda {
   width:34px;
   height: 100%;
   padding: 0; 
}

.muda:hover {
    background-color:#B0D8F5;
 }

 a {
     cursor: pointer;
 }