<nav class="navbar transparent  navbar-expand-lg ">
  <a class="navbar-brand" href="#">
    <img src="https://image.flaticon.com/icons/png/512/36/36447.png" width="30" height="30"
      class="d-inline-block align-top" alt="">
    LifeMatch
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>



  <!-- Botar entrar para fazer Login -->


</nav>