<div class="container justify-content-center">
    <div class="row ">
      <div class="col">
        

        <div class="container">
            <div class="row mb-5 mt-5">
              <div class="col">
        
                <div class="row">
                    <div class="col-md 12 mb-3">
                        <h1>Cadastre um novo tema!</h1>
                    </div>
                </div>
        
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="inputTitulo4">Tema</label>
                        <input type="text" class="form-control" id="inputTema4" placeholder="Digite aqui o tema">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlDescricao">Descrição</label>
                        <textarea class="form-control" id="exampleFormControlDescricao" rows="3">Digite uma descrição para a postagem</textarea>
                      </div>
                    <button type="submit" class="btn btn-primary">Publicar</button>
                  </form>

                  </div>
      </div>
    </div>
  </div>