<img src="https://wallpaperaccess.com/full/1155011.jpg" height="480px" width="100%" alt="..." />
<!--Banner-->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="carousel-caption d-none d-md-block">
        <p class="display-2 mb-5 txtt">LifeMatch</p>
        <button type="button" class="b" style="border-radius: 30px; width: 200px; height: 50px;">
          Cadastre-se
        </button>
      </div>
    </div>
  </div>
  <!--Banner-->

  <!--Quem Somos-->
  <div class="shadow bg-white mb-5 mt-5" style="border-radius: 20px">
    <div class="p-3">
      <h1>Quem Somos</h1>
      <h3 class="text-primary">"Ligamos a vontade com a necessidade de ajudar"</h3>
      <p>
        A solidariedade trás a esperança em tornar tudo possível. As oportunidades surgem, as portas se abrem e os
        sonhos se
        tornam realidade. Nossa tecnologia, que começou como uma simples forma de ligar as pessoas que querem ajudar com
        pessoas que necessitam de ajuda,
        possibilita conexões entre pessoas e uma nova forma de obter ajuda.
      </p>
      <h3>Missão</h3>
      <p> A missão da LifeMatch é inovar e facilitar a forma de ajudar.</p>
      <h3>Visão</h3>
      <p> Ser a maior e melhor plataforma de solidariedade, visando a construção de um modelo de ajuda na localização
        que o usuário quiser.</p>
    </div>
  </div>
  <!--Quem Somos-->

  <!--Depoimentos-->
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card mb-2">
        <div class="card-header">
          Depoimento
        </div>
        <div class="card-body">
          <blockquote class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-2">
        <div class="card-header">
          Depoimento
        </div>
        <div class="card-body">
          <blockquote class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Depoimento
        </div>
        <div class="card-body">
          <blockquote class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!--/Depoimentos-->
  </div>
  <!--fechando 1º container-->

  <!--Equipe-->
  <div class="container m-0 p-0 w-100">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3 border-0" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-12">
              <div class="card-body">
                <h5 class="card-title text-center"></h5>
                <h2 class="card-text text-center">Conheça</h2>
                <h2 class="card-text text-center">nossa</h2>
                <h2 class="card-text text-center">Equipe</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://i.imgur.com/4fbGpQh.jpg?1" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Everton Oliveira</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://ca.slack-edge.com/T01BFK5126M-U01B96KEC68-66e381e97a57-512" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Gildenor Junior</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                  additional.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://ca.slack-edge.com/T01BFK5126M-U01B96K4CA0-9029769e7f92-512" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Guilherme Marcionilo</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                  additional.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://ca.slack-edge.com/T01BFK5126M-U01BSRQ7J64-7d1ba0a210e4-512" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sarah Braia</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                  additional.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://ca.slack-edge.com/T01BFK5126M-U01AW8UKD0W-787eef3c7346-512" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Wellington Vieira</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                  additional.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <ul class="list-unstyled">
    
    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-4 ">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01BFKDDYQZ-8d7acbedefe6-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Everton</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>

        <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
        </a>
        <a href="#" target="_blank" class="icoGitHub" title="GitHub">
        <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
        </a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-3 mb-3 ">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01B96KEC68-66e381e97a57-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Gildenor</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
          </a>
          <a href="#" target="_blank" class="icoGitHub" title="GitHub">
          <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
          </a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-3 mb-3 ">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01B96K4CA0-9029769e7f92-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Guilherme</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
          </a>
          <a href="#" target="_blank" class="icoGitHub" title="GitHub">
          <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
          </a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-3 mb-3 ">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01BSRQ7J64-7d1ba0a210e4-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Sarah</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
          </a>
          <a href="#" target="_blank" class="icoGitHub" title="GitHub">
          <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
          </a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-3 mb-3">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01AW8UKD0W-787eef3c7346-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Wellington</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
          </a>
          <a href="#" target="_blank" class="icoGitHub" title="GitHub">
          <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
          </a>
      </div>
    </div>
    
  </ul> -->

    <!--/Equipe-->    

  </div> <!--fechando 2º container-->

  