<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Gilda+Display&family=Roboto+Slab&display=swap"
  rel="stylesheet">
<div class="carousel-caption d-none d-md-block">
  <p class="display-2 mb-5 txtt">LifeMatch</p>
  <button type="button" class="b" style="border-radius: 30px; width: 200px; height: 50px;"
    routerLink="/cadastro">Cadastre-se
  </button>
</div>
<video style="width:100% !important; " autoplay muted loop>
  <source src="assets/video/Background.mp4" type="video/mp4">
</video>
<div class="">
  <!--Banner-->
  <div class="container ">
    <div class="row">
      <div class="col-md-12">


      </div>
    </div>
    <!--Banner-->



<!--Quem Somos-->
<div class="backgroundhome shadow  mb-5 mt-5" style="border-radius: 20px">
  <div class="p-3 text-justify ">
    <h1>Quem Somos?</h1>
    <h3 class="text-light">"Ligamos a vontade com a necessidade de ajudar"</h3>
    <p>
      Nós do grupo LifeMatch, desenvolvemos uma rede social que tem por objetivo principal a ajuda social/comunitária. Buscamos incentivar e facilitar o meio de contribuição à Ong 's responsáveis pelo cuidado de pessoas carentes, de modo que, através deste projeto consigamos dar uma melhor exposição a este problema social. 
    </p>
    <h3>Missão</h3>
    <p> A missão da LifeMatch é facilitar a forma de ajudar, tornando o ganho de arrecadações mais rápido e fácil.</p>
    <h3>Visão</h3>
    <p> Sempre estar melhorando, visando a construção de um modelo de ajuda na qual se adequa na melhor maneira às pessoas.
      </p>
  </div>
</div>
<!--Quem Somos-->
    <hr>

    <!--Depoimentos-->
    <div class="row mt-5 mb-5">
      <div class="col-md-4">
        <div class="card mb-2 azulclaro">
          <div class="card-header">
            <img style="height:50px; border-radius: 50%;"
            src="https://d1rv23qj5kas56.cloudfront.net/img/media/anna-luzia-andrade.jpg" alt="">
            <strong> Ubuntu Last Hub</strong> 
          </div>
          <div class="card-body">
            <blockquote class="blockquote">
              <p>"A LifeMatch é simplemente incrível, pois com ela conseguimos arrecadar mais de 100 fraldas em apenas 2
                dias."</p>
              <footer class="blockquote-footer">Edinilson Martiniano <cite title="Título da fonte">Ubuntu Last
                  Hub</cite>
                <img style="height:50px; border-radius: 50%;"
                  src=""
                  alt="">
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2 amarelo">
          <div class="card-header">
            <img style="height:50px; border-radius: 50%;"
            src="https://d1rv23qj5kas56.cloudfront.net/img/media/anna-luzia-andrade.jpg" alt="">
            <strong> Ubuntu Last Hub</strong> 
          </div>
          <div class="card-body">
            <blockquote class="blockquote">
              <p>"A LifeMatch é simplemente incrível, pois com ela conseguimos arrecadar mais de 100 fraldas em apenas 2
                dias."</p>
              <footer class="blockquote-footer">Edinilson Martiniano <cite title="Título da fonte">Ubuntu Last
                  Hub</cite>
                <img style="height:50px; border-radius: 50%;"
                  src=""
                  alt="">
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2 rosa">
          <div class="card-header">
            <img style="height:50px; border-radius: 50%;"
            src="https://d1rv23qj5kas56.cloudfront.net/img/media/anna-luzia-andrade.jpg" alt="">
            <strong> Ubuntu Last Hub</strong> 
          </div>
          <div class="card-body">
            <blockquote class="blockquote">
              <p>"A LifeMatch é simplemente incrível, pois com ela conseguimos arrecadar mais de 100 fraldas em apenas 2
                dias."</p>
              <footer class="blockquote-footer">Edinilson Martiniano <cite title="Título da fonte">Ubuntu Last
                  Hub</cite>
                <img style="height:50px; border-radius: 50%;"
                  src=""
                  alt="">
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <!--/Depoimentos-->
  </div>
  <!--fechando 1º container-->
  <hr>
  <br>
  <!--Equipe-->

  <div class="row">
    <div class="col-md-12">
      <h2 class="card-text text-center mb-5">Conheça nossa equipe</h2>
    </div>
  </div>

  <div class="container  m-0 p-0 w-100">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3 bordaazul" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://i.imgur.com/4fbGpQh.jpg?1" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Everton Oliveira</h5>
                <p class="card-text text-justify">Telow as a natural
                  lead-in
                  to additional.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 bordaazul" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://ca.slack-edge.com/T01BFK5126M-U01B96KEC68-66e381e97a57-512" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Gildenor Junior</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 bordaazul" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://ca.slack-edge.com/T01BFK5126M-U01B96K4CA0-9029769e7f92-512" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Guilherme Marcionilo</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 bordaazul" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://ca.slack-edge.com/T01BFK5126M-U01BSRQ7J64-7d1ba0a210e4-512" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sarah Braia</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 bordaazul" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://ca.slack-edge.com/T01BFK5126M-U01AW8UKD0W-787eef3c7346-512" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Wellington Vieira</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <ul class="list-unstyled">
    
    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-4 ">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01BFKDDYQZ-8d7acbedefe6-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Everton</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
        </a>
        <a href="#" target="_blank" class="icoGitHub" title="GitHub">
        <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-3 mb-3 ">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01B96KEC68-66e381e97a57-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Gildenor</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
          </a>
          <a href="#" target="_blank" class="icoGitHub" title="GitHub">
          <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
          </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-3 mb-3 ">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01B96K4CA0-9029769e7f92-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Guilherme</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
          </a>
          <a href="#" target="_blank" class="icoGitHub" title="GitHub">
          <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
          </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-3 mb-3 ">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01BSRQ7J64-7d1ba0a210e4-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Sarah</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
          </a>
          <a href="#" target="_blank" class="icoGitHub" title="GitHub">
          <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
          </a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <li class="media p-2 mt-3 mb-3">
          <img class="mr-3" src="https://ca.slack-edge.com/T01BFK5126M-U01AW8UKD0W-787eef3c7346-512" alt="Imagem de exemplo genérica" style="width: 100px; height: 100px;">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Wellington</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
          <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x p-1"></fa-icon>
          </a>
          <a href="#" target="_blank" class="icoGitHub" title="GitHub">
          <fa-icon [icon]="faGithub" class="faGithub fa-2x p-1" ></fa-icon>
          </a>
      </div>
    </div>
    
  </ul> -->

  <!--/Equipe-->

</div>

</div>
<!--fechando 2º container-->