.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
 }
 .card{
    background-color: #f1f1f1;
    min-width: 250px;
    margin: 10px;
    height: 200px;
    text-align: center;
 }